body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 100px;
  height: 100px;
  background: gold;
  transition: transform 0.5s background 0.5s;
  /* linear is delay,  1s is when the animation start, ex: transition: transform 0.5s linear 1s; */
}

.box:hover {
  transform: rotate(45deg);
  background: dodgerblue;
}
