body {
  background: url(/company/images/bg-sanfrancisco.jpg);
  background-repeat: no-repeat;
  /* background-position: 100% 100px; */
  background-position: cover;
  /* background-size: 100% 200px; */
  background-attachment: fixed;
  height: 300vh;
}
