<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Floatings Elements</title>
    <link
      rel="stylesheet"
      href="/company/css/layouts_css/floating elements.css"
    />
  </head>
  <body>
    <!-- with article can present every single independent self content peace of content -->
    <article class="tweet clearfix">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <!-- <p class="clear">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse vitae
        cumque, nesciunt hic non dolorem.
      </p> -->
    </article>
  </body>
</html>
