<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overflowing</title>
    <link rel="stylesheet" href="/company/css/layouts_css/overflowing.css" />
  </head>
  <body>
    <div class="box">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad quis
        laborum nemo saepe rerum ipsum, repellendus totam cumque neque quos!
        Itaque minus soluta quos ratione aliquam atque ipsa possimus ipsum vitae
        rerum magnam, nisi alias quod pariatur, aperiam esse corporis beatae
        quam doloremque. Libero inventore illum minus excepturi? Provident,
        reprehenderit!
      </p>
    </div>
  </body>
</html>
