@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,600;0,700;1,200&display=swap");

:root {
  --heart: "M95.5 31.683C70.4472 -8.60691 0 3.15488 0 53.6403C0 88.4036 44.3359 123.95 95.5 171.542C146.672 123.95 191 88.4036 191 53.6403C191 2.98334 120.37 -8.30858 95.5 31.683Z";
  --white: white;
  --pink: pink;
  --light-color: palevioletred;
  /* --box-shadow: 0 10rem 1.5rem rgba(0, 0, 0, 0.1); */
}
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding: 5.5rem;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}
.main {
  width: auto;
  height: auto;
  background: linear-gradient(to top, white 70%, pink);
}
body {
  background-color: var(--white);
  font-family: "Comfortaa", cursive;
  color: var(--pink);
  margin: 1rem;
}

.logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

/* .logoto { 
  width: 191px;
  height: 191px;
  float: left;
  margin-right: 30px;
  clip-path: path(var(--heart));
  object-fit: cover;
  box-shadow: 0 0 80px black;
  border: 30px pink;
} */

.logoto {
  width: 170px;
  height: 170px;
  border-radius: 100px;
  float: left;
  object-fit: cover;
  object-position: center;
  border: 0.3rem solid white;
  box-shadow: 0 0 5rem pink;
}
.navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: palevioletred;
  font-family: "Source Serif 4", sans-serif;
}

.navbar a.active,
.navbar a:hover {
  color: white;
  background: pink;
}
.header {
  text-align: center;
  margin-top: 225px;
  font-weight: bolder;
  /* border-radius: 100px; */
  font-size: 100%;
}
.header:hover {
  color: white;
  background: var(--pink);
}
#welcome_note {
  /* border-radius: 100px; */
  font-size: 4vw;
  color: pink;
  /* background: linear-gradient(to bottom, white 55%, pink); */
  background: linear-gradient(to bottom, white 75%, pink);
  font-family: "Amatic SC", cursive;
}
#welcome_note:hover {
  color: white;
  background: linear-gradient(to bottom, white, pink);
  font-family: "Amatic SC", cursive;
}
.navbar a::selection {
  background-color: paleturquoise;
}
#welcome_note::selection {
  background-color: paleturquoise;
}
.row {
  display: flex;
  width: 200rem;
  height: 50rem;
}
.column {
  float: left;
  width: 100rem;
  height: 25rem;
  flex: 33.33%;
  padding: 5px;
  object-fit: scale-down;
}
.row:hover {
  border: 1px solid #777;
}

/* forMe css part */
.h1_for_me {
  text-align: center;
  margin-top: 225px;
  font-weight: bolder;
  /* border-radius: 100px; */
  font-size: 100%;
  width: auto;
  height: auto;
  background: linear-gradient(to top, white 70%, pink);
}
p {
  text-align: center;
  font-size: 4rem;
  font-family: "Playfair Display", serif;
}
